h1{
    text-align: center ;

}


#resultat{
    position: relative;

}

@keyframes dd {

    0%{
        transform: rotateY(180deg);
        background-image: url("index.png");
        background-color:cyan}
    50%{
        background-color: cyan;
        background-image: url("index.png")}
    51%{background-image: none;
        transform: rotateX(90deg);
        color: black;
        background-color: white}
    100%{transform: rotateY(0deg);
        color: black}


}