
h1{
    text-align: center ;

}



#resultat{
    position: relative;
}

@keyframes dd {

    0%{
        transform: rotateY(180deg);
        color: red;
        background-color: red}
    50%{color: red;
        background-color: red;}
    51%{transform: rotateX(90deg);
        color: black;
        background-color: white}
    100%{transform: rotateY(0deg);
        color: black}


}